
@media (max-width:1440px) {
  .container {
    padding: 0 50px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    margin-bottom: 41px;
  }

  .header__logo {
    width: 150px;
  }

  .header__item:not(:last-child) {
    margin-right: 60px;
  }

  .header__nav{
    margin-right: 105px;
  }

  .project {
    margin-bottom: 36px;
  }

  .project__blocks {
    padding-top: 157px;
    padding-left: 75px;
    padding-bottom: 161px;
    background-image: url('../img/project1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .project__title {
    font-size: 60px;
    max-width: 770px;
    line-height: 75px;
    margin-bottom: 13px;
  }

  .project__paragraph {
    font-size: 20px;
    max-width: 660px;
    margin-bottom: 58.5px;
    line-height: 25.26px;
  }

  .project__btn {
    padding: 25px 39px;
    font-size: 24px;
    line-height: 29.26px;
  }

  .about {
    margin-bottom: 79px;
  }

  .about__descr {
    margin-bottom: 59px;
  }

  .about__blocks {
    flex-wrap: wrap;
  }

  .about__left {
    min-height: 640px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }

  .about__left-descr {
    max-width: 454px;
  }

  .about__right {
    width: 100%;
  }

  .about__right-cards {
    padding-bottom: 63px;
  }

  .about__right-cards-image1 {
    background-position: top 65px left 75px;
  }

  .about__right-cards-image2 {
    background-position: top 65px left 76px;
  }

  .about__right-title {
    max-width: 1000px;
    padding-left: 255px;
  }

  .about__right-descr {
    padding-left: 257px;
  }

  .stages {
    margin-bottom: 64px;
  }

  .stages__left-block {
    margin-bottom: 26px;
  }

  .stages__left-descr {
    font-size: 16px;
  }

  .stages__right {
    margin-top: 14px;
    margin-left: 18px;
  }

  .questions {
    margin-bottom: 81px;
  }

  .questions__list {
    flex-wrap: wrap;
  }

  .questions__item {
    width: 100%;
    padding-bottom: 63px;
  }

  .questions__item-title {
    max-width: 799px;
  }

  .questions__item-descr {
    max-width: 799px;
  }

  .footer__block {
    justify-content: start;
  }

  .footer__left {
    margin-right: auto;
  }

  .footer__center {
    max-width: 541px;
  }

  .footer__center-input {
    max-width: 541px;
  }

  .footer__center-sms {
    max-width: 541px;
  }

  .footer__center-btn {
    min-width: 240px;
  }

  .footer__right {
    display: none;
  }
}



@media (max-width:992px) {
  .header {
    padding-top: 17px;
    padding-bottom: 14px;
    margin-bottom: 40px;
    border-radius: 0 0 24px 24px;
  }

  .header__logo {
    width: 110px;
  }

  .header__nav{
    margin-right: 45px;
  }

  .header__link  {
    font-size: 16px;
    line-height: 19.5px;
  }

  .header__item:not(:last-child) {
    margin-right: 42px;
  }

  .project__blocks {
    padding-top: 160px;
    padding-left: 40px;
    padding-bottom: 160px;
    border-radius: 22px;
  }

  .project__title {
    font-size: 50px;
    max-width: 588px;
    line-height: 60.95px;
    margin-bottom: 16px;
  }

  .project__paragraph {
    font-size: 18px;
    max-width: 588px;
    margin-bottom: 60px;
    line-height: 21.94px;
  }

  .project__btn {
    font-size: 23px;
  }

  .about__descr {
    margin-bottom: 54px;
  }

  .about__left {
    border-radius: 26px;
    min-height: 651px;
  }

  .about__left-cards {
    padding: 35px;
    padding-left: 39px;
    padding-right: 39px;
    border-radius: 28px;
  }

  .about__left-descr {
    max-width: 366px;
  }

  .about__right-cards-image1,
  .about__right-cards-image2 {
    background-size: 114px 99px;
    background-position: top 68px left 40px;
  }

  .about__right-title {
    padding-left: 110px;
  }

  .about__right-descr {
    padding-left: 110px;
  }

  .about__right-cards {
    padding-top: 34px;
    padding-bottom: 32px;
    padding-right: 10px;
    border-radius: 25px;
  }

  .about__right-cards:not(:last-child) {
    margin-bottom: 33px;
  }

  .stages__blocks {
    flex-direction: column-reverse;
  }

  .stages__right {
    margin: 0;
    width: 100%;
    margin-bottom: 38px;
  }

  .stages__title {
    margin-bottom: 32px;
  }

  .stages__left {
    width: 100%;
  }

  .stages__left-block {
    margin-bottom: 23px;
  }

  .questions__item {
    padding: 35px 65px 33px 40px;
  }

  .questions__item-title {
    margin-right: 0;
  }

  .footer__block  {
    flex-direction: column-reverse;
  }

  .footer__left-list {
    display: none;
  }

  .footer__center {
    margin-bottom: 50px;
  }

  .footer__logo-img {
    margin-bottom: 12px;
  }
}


@media (max-width:767px) {
  .header__block {
    flex-wrap: wrap;
  }

  .header__logo {
    order: 1;
    margin-bottom: 20px;
  }

  .header__btn {
    order: 2;
    margin-left: auto;
    margin-bottom: 26px;
  }

  .header__nav {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 6px;
    order: 3;
  }

  .header__item {
    margin-right: 0;
    justify-content: space-between;
  }

  .project__blocks {
    background-image: url('../img/project2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (max-width:640px) {
  .header__item {
    flex-shrink: 0;
  }

  .project__blocks {
    padding-right: 20px;
  }

  .footer__center-input {
    max-width: 450px;
  }

  .footer__center-sms {
  max-width: 450px;
  }
}



@media (max-width:578px) {
  .container {
    padding: 0 15px;
  }

  .section-title {
    font-size: 24px;
    line-height: 29.26px;
  }

  .header {
    border-radius: 0 0 16px 16px;
    margin-bottom: 38px;
  }

  .header__logo {
    margin-bottom: 17px;
  }

  .header__btn {
    margin-bottom: 21px;
  }

  .header__nav {
    overflow: scroll;
  }

  .header__list {
    flex-wrap: nowrap;
  }

  .header__item:not(:last-child) {
    margin-right: 26px;
  }

  .project {
    margin-bottom: 60px;
  }

  .project__blocks {
    padding: 60px 21px 59px 22px;
    text-align: center;
    border-radius: 15px;
    background-image: url('../img/project3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .project__title {
    margin-bottom: 7px;
    font-size: 20px;
    line-height: 24.38px;
    text-align: center;
  }

  .project__paragraph {
    margin-bottom: 34px;
    font-size: 12px;
    line-height: 14.63px;
    text-align: center;
  }

  .project__btn {
    padding: 13px 28px;
    font-size: 12px;
    line-height: 14.63px;
    text-align: center;
    border-radius: 8px;
  }

  .about {
    margin-bottom: 59px;
  }

  .about__descr {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 28px;
  }

  .about__left {
    padding-top: 42%;
    min-height: 400px;
    margin-bottom: 32px;
    background-size: 290px 200px;
    background-position: top;
    border-radius: 10px;
  }

  .about__left-cards {
    padding: 0;
    flex-direction: column;
    background-color: var(--white-color);
    justify-content: flex-start;
  }

  .about__left-descr {
    margin-bottom: 12px;
    color: var(--black-color);
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }

  .about__left-btn {
    align-self: flex-start;
    color: var(--btn-color);
    font-size: 12px;
    line-height: 14.63px;
    border: 2px solid var(--btn-color);
    min-width: 162px;
    min-height: 40px;
    border-radius: 8px;
  }

  .about__right-cards {
    border: none;
    padding: 0;
    padding-top: 60px;
  }

  .about__right-cards-image1,
  .about__right-cards-image2 {
    background-size: 64px 49px;
    background-position: left top;
  }

  .about__right-title {
    margin-bottom: 5px;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.94px;
  }

  .about__right-descr {
    padding: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
  }

  .stages {
    margin-bottom: 42px;
  }

  .stages__title {
    margin-bottom: 20px;
  }

  .stages__right {
    margin-bottom: 10px;
  }

  .stages__left-title {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
  }

  .stages__left-descr {
    font-size: 14px;
    line-height: 28px;
  }

  /* .stages__btn {
    flex-direction: row;
  } */

  .stages__left-block {
    margin-bottom: 25px;
  }

  .stages__left-btn {
    min-width: 162px;
    min-height: 40px;
    margin-right: 5px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 14.63px;
  }

  .stages__left-link {
    padding: 12px 31px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 14.63px;
  }

  .questions {
    margin-bottom: 60px;
  }

  .questions__title {
    margin-bottom: 20px;
  }

  .questions__list {
    --offsets: 0;
    gap: 32px;
  }

  .questions__item {
    border: none;
    padding: 0;
  }

  .questions__item-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 21.94px;
    margin-bottom: 4px;
  }

  .questions__item-descr {
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .footer {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .footer__center {
    margin-bottom: 25px;
    justify-content: center;
  }

  .footer__center-title {
    margin-bottom: 19px;
    font-size: 24px;
    font-weight: 400;
    line-height: 29.26px;
  }

  .footer__center-list {
    margin-bottom: 22px;
  }

  .footer__center-input {
    padding-left: 20px;
    width: 100%;
    height: 60px;
    border-radius: 16px;
  }

  .footer__center-input::placeholder{
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
  }

  .footer__center-sms {
    padding-left: 20px;
    width: 100%;
    border-radius: 16px;
    font-size: 14px;
  }

  .footer__center-btn {
    display: block;
    min-width: 0;
    min-height: 0;
    padding: 12.31px 19px 12.69px 19px;
    margin: 0 auto;
    margin-bottom: 11px;
    border-radius: 8px;
    font-size: 12px;
    line-height: 14.63px;
  }

  .footer__center-check {
    display: block;
    padding-left: 0;
    text-align: center;
  }

  .footer__left {
    width: 100%;
    position: relative;
    text-align: center;
    margin: 0 auto;
  }

  .footer__left::before{
    content: "";
    position: absolute;
    left: 4px;
    top: 0;
    width: calc(100% - 8px);
    height: 1px;
    background-color: #414141;
  }

  .footer__logo-img {
    width: 131px;
    height: 42px;
    margin-top: 16px;
    margin-bottom: 13px;
  }

  .footer__icon {
    justify-content: center;
  }

  .footer__icon-link svg{
    width: 40px;
    height: 40px;
  }

  .footer__icon-item:not(:last-child) {
    margin-right: 17px;
  }
}
